.step-1 {
    background-image: url(img/1.png);
    background-position: center center;
}

.step-2 {
    background-image: url(img/2.png);
    background-position: center center;
}

.step-3 {
    background-image: url(img/Step3.png);
    background-position: center center;
}

.prt1 {
    background-image: url(img/Photo.png);
}

.prt2 {
    background-image: url(img/Photo2.png);
}

.prt3 {
    background-image: url(img/Photo3.png);
}

.prt4 {
    background-image: url(img/Photo4.png);
}

.brush {
    background-color: #19D4CA;
}

.camera {
    background-color: #FFA710;
}

.airplane {
    background-color: #667DF3;
}

.music {
    background-color: #FF4E50;
}